
body {
  margin: 0;
  font-family: ibmplexsans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

img { width: 100%;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 0.00025em;
  max-height: 100%;
  overflow-y: auto;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*-----Start Nav-----*/
.navBackground {
  position: sticky;
  z-index: 1;
  width: 100%;
  background-color:  #0b65c6!important;
  vertical-align: middle;
  min-height: 11%;
}
div.nav {
  display: table;
  width: calc(100% - 4em);
  max-width: 1000px;
  padding-bottom: 1rem;

  margin: auto;
  padding: 1.25rem 20px;

  background-color:  #0b65c6!important;
}

div.nav > * {
  display: table-cell;
  vertical-align: middle;

  font-weight: 450;
}

div.siteId {
  display: table;

  vertical-align: middle;
  cursor: pointer;
}

div.siteId > * {
  display: table-cell;
  vertical-align: middle;
}

.siteId h1 {
  padding-left: .5em;
  color: white;

  font-size: 20px;
  line-height: 0.025rem;
}

.siteLogoFrame {
  display: inline-block;
  max-width:36px;
  min-width: 30px;
}
.siteLogoFrame > img {
  width: 100%;
}

.menusSign {
  visibility: hidden;
  position: absolute;
}

.menus {
  text-align: right;
}
.mobileMenus {
  visibility: hidden;
  position: absolute;

}

.menus > a {
  padding: 1.5em;

  text-decoration: none;
  font-size: .9375rem!important;
  font-weight: 600;
  color: white;
}

.menus > a:hover {
  color: rgba(255,255,255,.75)!important;
}

.menuMeta {
  position: relative;
  top: .05em;
  display: inline-block;
  margin-left: .5rem!important;
  padding: .25rem .75rem;
  border: 2px solid #0b65c6;
  border-radius: .375rem;

  background-color: white;


  color: #0b65c6;
  font-size: .8375rem;
  font-weight: 700!important;
  font-size: 75%;
}

.menus > a:hover .menuMeta {
  opacity: 50%;
}

/*-----End Nav-----*/

/*-----Start AppPreview-----*/
.appPreviewBackground {
  width: 100%;
  max-width: 100%;
  padding-bottom: 2rem;
  background-image: linear-gradient(to bottom right,#0B65C6 50%,#105BAA 100%);

  padding-left: 0!important;
}

.appPreview {
  display: table;
  width: 100%;
  max-width: 1000px;

  margin: auto;

  background-image: linear-gradient(to bottom right,#0B65C6 50%,#105BAA 100%);
}

.appPreview > * {
  display: table-cell;
  
  vertical-align: middle;
}


.previewText .previewList  li {
  margin-top: 20px;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  color: #161c2d;
  line-height: 1.5;
  letter-spacing: 2;
  width: 70%;
}

.appPreview > .previewPic {
  text-align: right;
}

.previewPic {
  max-width: 50%;
}
.previewPic > img {
  width: 100%;

  position: relative;
  left:25%;
  bottom: -30px;
}

.previewPicLeft > img {
  position: relative;

  width: 100%;

  position: relative;
  left:-7.5%;
  bottom: -30px;
}

.previewText {
  width: 52;
  text-align: left;
}
.previewText h2 {
  position: relative;
  width: 120%;

  margin-top: 0;
  margin-bottom: .5rem;

  line-height: 1.2;
  letter-spacing: -.02em;
  font-weight: 700!important;
  font-size: 3rem;

  font-family: ibmplexsans,sans-serif;

  color: white;
}

.previewBody {
  position: relative;
  width: 120%;
  
  color: rgba(255,255,255,.75)!important;
  margin-bottom: 1rem!important;
  font-size: 1.3125rem;
  font-weight: 400;
}

.previewBtns {
  position: relative;
  width: 150%;
}
.previewBtn {
  display: inline-block;
  position: relative;
}

.previewBtn + .previewBtn {
  margin-left: .5rem;
}

.previewBtn > .aImgageFrame {
  display: inline-block;
  max-width: 160px;
  margin: 10px auto;
}

.previewBtn > .aImgageFrame img {
  width: 100% ;
}


.whiteBack {
  background-color: white;
  background-image: none;
}

.whiteBack .previewPic > img {
  width: 100%;

  position: static;
}

.whiteBack h2 {
  color: black;
}

.whiteBack .previewText h2 {
  position: relative;
  width: 100%;
}

.whiteBack .previewBody {
  color: #4f5a65!important;
  width: 100%;
}

.whiteBack .previewBtns {
  position: relative;
  width: 100%;
}

.withLine {
  border-bottom: 1px solid #f1f4f8!important;
}
/*-----End AppPreview-----*/

/*-----Start DownloadBtn-----*/
a.downloadBtn {
  display: inline-block;
  font-weight: 600;

  background-color: #0b65c6;
  border-color: transparent!important;

  margin-top: 2rem!important;

  text-decoration: none;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a.downloadBtn:hover {
  background-color: #0953a2;
}
/*-----End DownloadBtn-----*/

/*-----Start Steps----*/
.steps {
  text-align: center;

  max-width: 1000px;
  margin: auto;

  padding-top: 5rem;
  padding-bottom: 10rem;
}
.steps > h2 {
  color: #161c2d;
  margin: 0;
  font-family: ibmplexsans,sans-serif;
  font-size: 2.6875rem;
  line-height: 1.2;
  font-weight: 700!important;

  margin-bottom: 1rem!important;
}

.steps .stepsSentence {
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #4f5a65!important;
  margin-bottom: 1rem;  
}

.steps .step + .step {
  margin-left: 5rem;
}

.steps ul {
  display: table;
  width: 100%;
  list-style: none;
}

.steps ul > li {
  display: table-cell;
}

.steps span.stepPic {
  display: inline-block;
  max-width: 7.6rem;

}
.steps span.stepPic > img {
  width: 100%;
}

.steps .step {
    position: relative;
    text-align: left;
}

.steps .step > span {
  display: inline-block;
  text-align: center;
}

.steps .stepText {
  font-weight: 700!important;
  line-height: 1.4;
  letter-spacing: -.01em;
  font-size: 1.3125rem;
  margin-bottom: .5rem;
  font-weight: 400;
  margin-top: 0;
}

/*-----End Steps-----*/
.appPreview {
  padding-top: 3rem!important;
}
/*-----Start Home-----*/
.activities {
  display: table;

  margin: auto;
  width: 100%;
  max-width: 1000px;

  padding-top: 2rem!important;
}
.activities > * {
  display: table-cell;
  text-align: left;

  width: auto;
}

.activity3 {
  text-align: right;
}

.activity > * {
  display: inline-block;
  vertical-align: middle;
}


.activityPicFrame {
  max-width: 1.5rem;
}
.activityPicFrame > img {
  width: 100%;
}

h3.activiyName {
  margin-left: 1rem;

  font-weight: 700!important;
  font-size: 1.3125rem;
}

.featuresList {
  text-align: center;
}

.featuresList h2.listTitle {
  color: #161c2d;
  margin: 0;
  font-family: ibmplexsans,sans-serif;
  font-size: 2.6875rem;
  line-height: 1.2;
  font-weight: 700!important;

  margin-bottom: 1rem!important;
}

.featuresList .intro {
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #4f5a65!important;
  margin-bottom: 1rem;
}

.featuresList .lists {
  max-width: 1000px;
  margin: auto;

  display: table;
  width: 100%;
  
}

.featuresList .lists > * {
  display: table-cell;
  text-align: left;
}

.featuresList .list1 {
  margin-left: 0;
  padding-left: 0;
}
.featuresList .list1 {
  margin-left: 0;
  padding-left: 0;
}

.featuresList ul {
  list-style: none;

}

.featuresList ul > li {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;

  background-color: #fff;
  border: 1px solid #f1f4f8;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
}

.featuresList ul > li + li {
  border-top: none;
}

.featuresList .featureName {
  padding-left: 1rem!important;
}


li.feature {
  display: table;
  width: 100%;
}
.featuresList .feature > * {
  display: table-cell;
  vertical-align: middle;
}

.mobilePreviewDisplay {
  visibility: hidden;
  position: absolute;
    
  top: 0;
}
/*----End Home-----*/

/*-----Start Assets-----*/

.assets .appPreviewBackground {
  margin-bottom: 4rem;
}

.assets > * {
  max-width: 1000px;
  margin: auto;
}

.assets  .appPreviewBackground {
  max-width: 100%;
}
 
.whiteDownloadNow {
  display: inline-block;
  font-weight: 600;

  background-color: white;
  border-color: transparent!important;

  margin-top: 2rem!important;

  text-decoration: none;
  color: #0b65c6;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.assets .supportedAssets {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.assets .saIntro {
  display: table;
  width: 100%;
}

.assets .saIntro > * {
  display: table-cell;

  vertical-align: top;
}

.saIntro h2 {
  line-height: 1.2;
  letter-spacing: -.02em;
  font-weight: 700!important;
  font-size: 2.6875rem;
  margin-bottom: .5rem;
  margin-top: 0;
  color: #161c2d;
}

.saIntro p {
  margin: auto;
  margin-bottom: 0!important;
  margin-top: 0;
  box-sizing: border-box;

  color: #4f5a65!important;
}

.saLinks {
  text-align: right;
}

.saLink {
  display: inline-block;
  font-weight: 600;


  text-decoration: none;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.saLink +.saLink {
  margin-left: 1rem;
}

#saLink1 {
  color: white;
  background-color:  #0b65c6;
}

#saLink2 {
  color: #0b65c6;
  background-color:  white;
  border: .25px solid#d9e2ef;
}

#saLink1:hover  {
  background-color: #0953a2;
}

#saLink2:hover {
  color: white;
  background-color:  #0b65c6;
}

.previewPic {
  width: 50%;
}

.whiteBack .previewBody {
  font-size: 1rem;
  line-height: 1.5rem;
}

/*-----End Assets----*/
/*-----Start CoinsList----*/
.coinsList {
  list-style: none;

  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;

  padding-top: 1rem;
  padding-left: 0;
}

.coinsList > * {
  flex: 1;
  flex-basis: calc(100% / 3);
}

.coin {
  padding: .5rem 0;
}

.coin a {
  text-decoration: none;
}

.coin span {
  display: inline-block;
  vertical-align: middle;
}

.coin .coinPicFrame {
  width: 38px;
  min-width: 38px;
}

.coinPicFrame > img {
  width: 100%;
}

.coin .coinName {
  color: #4f5a65!important;
  margin-left: .5rem;
}
/*-----End CoinsList-----*/

/*-----Start Staking-----*/
.staking {
  margin: auto;
  max-width: 1000px;

  text-align: center;
}

.staking .definitionTitle {
  font-weight: 700!important;
  margin-bottom: 1rem!important;
  letter-spacing: -.01em;
  line-height: 1.3;
  font-size: 2.5125rem;
  color: #161c2d;
}

.staking .definitionBdy {
  color: #4f5a65!important;
  margin-top: 0;
  margin-bottom: 3rem!important;
  line-height: 1.6rem;
}

.researchPrompt {
  padding-top: 3rem!important;

  text-align: left;
}

.researchPromptTitle {
  font-weight: 700!important;
  line-height: 1.4;
  letter-spacing: -.01em;
  font-size: 1.3125rem;
  margin-bottom: .5rem;
  margin-top: 0;

  color: #161c2d; 
}

.researchPromptBody {
  color: #4a545e!important;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.stakeables {
  text-align: left;
  padding-top: 3rem!important;
  padding-bottom: 2rem!important;
}
/*-----End Staking-----*/

/*-----Start StakingCalc-----*/

.stakingCalc {
  padding: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1)!important;
  background-color: white;
}

.stakingCalc > * {
  margin: auto;
  position: relative;
  z-index: 0;
}

.coinSelection {
  position: relative;
  z-index: 1;
}

.stakingCalc .calcTitle {
  font-weight: 700!important;
  margin-bottom: .25rem!important;
  line-height: 1.35;
  letter-spacing: -.01em;
  font-size: 1.9375rem;
  margin-top: 0;
}

.stakingCalc .shortNote {
  color: #4f5a65!important;
  padding-bottom: 1rem!important;
  margin-top: 0;
  margin-bottom: 1rem;
}

.stakingCalc .optionsContainer {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  display: block;
  width: 100%;
  height: fit-content;
}

#optionsContainer {
  visibility: hidden;
}

.stakingCalc .options {
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  margin-top: .25rem;
  padding-left: 0;

  font-size: .9rem;
  color: #2b354f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(22,28,45,.15);
  border-radius: .25rem;

  overflow-y: scroll;
  overflow-x: scroll;
}

.option {
  display: flex;
  width: calc(100% - 1.5rem);

  vertical-align: middle;
  padding: .375rem .75rem;

  line-height: 1;

}

.options .tappable {
  cursor: pointer;
}

.options .tappable:hover {
  background-color: #f9fafb;
}

.option .percentChange {
  color: #49a397;
  white-space: nowrap!important;
  font-size: 80%;
    font-weight: 400;
}

.options .meta {
  padding: 10px 16px;
  background-color: #f9fafb;
  color: #aaa;
  font-size: 13px;
}

.options .coin {
  text-align: left;
}

.moreCoins {
  color: #4a545e!important;
  text-align: left!important;
  margin-left: .5rem!important;
  display: inline-block!important;
  margin-top: 0;
  margin-bottom: 1rem;
}

.options .currAPY {
  text-align: right;
}

.option > * {
  flex: 1;
}

.selected {
  display: flex;
  width: calc(100% - 1.5rem);


  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #f1f4f8;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.selected:hover {
  border-color: #3375bb;    
}

.selected > * {
  flex: 1;
}


.selected span {
  vertical-align: middle;
}


.coinCount {

  position: relative;
  z-index: 0;
  margin-top: 1rem;

  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #f1f4f8;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 2.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.coinCount:hover {
  border-color: #3375bb;    
}

.coinCount > * {
  position: relative;
  z-index: 0;
}

.coinCount > input {
  display: inline-block;
  width: 100%;
  border: none;
  font-size: 1rem;

}

.coinCount .countChanger {
  position: absolute;
  top: .25rem;
  right: .25rem;
  z-index: 1;
}

.stakingCalc .logo-name {
  text-align: left;
}

.logo-name .logoFrame {
  display: inline-block;
    width: 25px;
    min-width: 20px;
}

.logo-name .name {
  display: inline-block;
  margin-left: 1rem;

  color: #2b354f!important;
}

.selected .percentChange {
  margin-left: auto;
  text-align: right;
  color: #49a397;

  font-size: 80%;
  font-weight: 400;
}

.stakingCalc .earnings {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.earnings > li > div {
  display: flex;
  width: 100%;
}

.earnings > li > div > * {
  flex: 1;
}

.earnings .period {
  letter-spacing: .08em;
  color: #4a545e!important;
  line-height: 1.55;
  margin-top: .5rem!important;
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: .75rem;

}

.earnings .earningsValue {
  margin-left: auto;
  text-align: right;

  color: #037265;
}

.earnNow {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #0b65c6;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: 100%;

  border: none;

  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.earnNow:hover {
  background-color:  #0953a2;
}
/*-----End StakingCalc-----*/

/*-----Start Earn-----*/
.earn {
  margin: auto;
  width: 100%;

  vertical-align: middle;
}
.earn > * {
  max-width: 1000px;
  margin: auto;
}

.earn  .appPreviewBackground {
  max-width: 100%;
}

.earnHead {
  display: flex;
  align-items: center;
  max-width: 1000px ;
  margin: auto;
}

.earnHead > * {
  flex: 1;
}

.earnHead .left {
  vertical-align: middle;
}

.left h1 {
  line-height: 1.2;
  letter-spacing: -.02em;
  font-weight: 700!important;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;

  color: white;
}

.left p {
  color: rgba(255,255,255,.9)!important;
  margin-bottom: 1rem!important;
  font-size: 1.3125rem;
  font-weight: 400;
  margin-top: 0;
}

.earnHead .stakingCalc {
  border-radius: .375rem;
  margin-left: 8.3333333333%;
  text-align: center;
}

.earnables h2 {
  margin-bottom: 3rem!important;
  text-align: right;
  /* padding-right: 10rem; */

  font-weight: 700!important;
  text-align: center!important;
  line-height: 1.35;
  letter-spacing: -.01em;
  font-size: 1.9375rem;
}

a.btnBlueborder {
  margin-top: 0;

  display: inline-block;
  font-weight: 600;

  background-color: white;

  margin-top: 0!important;

  text-decoration: none;
  color: #0b65c6;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid #d9e2ef;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
a.btnBlueborder:hover {
  color: white;
  background-color: #0b65c6;
}
/*-----End Earn-----*/

/*----Start NFTs-----*/
.nfts .blackBackPreview {
  margin: auto;
}
.nfts .blackBackPreview .previewPic {
  width: 60%;
  padding-left: 0;
  max-width: 50%;
}

.nfts .blackBackPreview .previewPic img {
  position: relative;
}

.nfts .blackBackPreview .previewText {
  width: 40%;
}
.nfts .blackBackPreview .previewText > * {
  position: static;
}

.nfts .blackBackPreview .previewText > h1 {
  font-family: ibmplexsans,sans-serif;
}


.nfts .blackBackPreview .previewText p {
  line-height: 1.5;
}

.supportedNFTs {
  max-width: 1000px;
  margin: auto;
}
.supportedNFTs h2 {
  line-height: 1.2;
  letter-spacing: -.02em;
  font-weight: 700!important;
  margin-bottom: 2rem!important;
  font-size: 2.6875rem; 
  color: #161c2d;
}

/*-----End NFTs-----*/

/*-----Start DAppBrowser-----*/

.marketPlace {
  max-width: 1000px;
  margin: auto;
  margin-top: 10rem;
}

.marketPlace h2 {
  font-weight: 700!important;
  line-height: 1.35;
  letter-spacing: -.01em;
  margin-bottom: 1rem;
  font-size: 1.9375rem;
  color: #161c2d;
}

.marketPlace p {
    color: #4a545e!important;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.marketPlace .marketPlacePics {
  display: flex;
}

.marketPlace .marketPlacePics > * {
  margin-top: 2rem!important;
  flex: 0;
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.marketPlace .marketPlacePics > * + * {
  margin-left: 2rem;
}

.marketPlace .marketPlacePics > * > img {
  width: 100%;
}
/*-----End DAppBrowser-----*/

/*-----Start SlidingContents-----*/

.slidingContents {
  text-align: center;
  padding-top: 5rem;
  margin: auto;
}
.slidingContent {
  visibility: hidden;
  position: fixed;

  display: inline-block;
}

#slidingContent1 {
  visibility: visible;
  position: relative;
}

.contentPicFrame {
  text-align: center;
  margin: auto;
  width: 250px;
  min-width: 50px;  
}
.contentPicFrame > img {
  width: 100%;
}

.slidingContent .contentTitle {
  font-weight: 700!important;
  color: #161c2d;
  line-height: 1.4;
  letter-spacing: -.01em;
  font-size: 2.6875rem;
  margin-bottom: .5rem;
  font-weight: 40;
}

.slidingContent .contentMsg {
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #4f5a65!important;
  margin-bottom: 1rem;
}

/*-----End SlidingContents-----*/

/*-----Start Login-----*/

.login {
  position: relative;

  max-width: 1000px;
  height: 89%;
  margin: auto;

  text-align: center;
  vertical-align: middle;
}


.login .createWallet {
  display: block;
  font-weight: 600;
  width: fit-content;

  background-color: #0b65c6;
  border-color: transparent!important;

  margin-top: 2rem!important;

  text-decoration: none;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.links {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;

  text-align: center;
}

.login .createWallet:hover {
  background-color: #0953a2;

}

.login .haveWallet {
  display: block;
  margin-top: .25rem!important;
  color: #0b65c6;

  font-weight: 600;

  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;

  text-decoration: none;
}

/*-----End Login-----*/

/*-----Start Legal-----*/
.legal {
  position: relative;
  max-width: 1000px;
  height: 89%;
  margin: auto;
}

.legal h2 {
  text-align: center;

  color: #161c2d;
  font-weight: 700!important;
  font-size: 1.3125rem;
  line-height: 1.4;
  letter-spacing: -.01em;
  margin-bottom: .5rem;
  font-weight: 40;
}
.legal .legalMsg {
  margin-top: 10rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #4f5a65!important;
  margin-bottom: 1rem;
}

.legalClasses {
  background-color: rgb(250,250,250);
  padding: 0 1rem;

  border-radius: .475rem;
}

.legalClass {
  display: flex;
  padding: .25rem;
  padding-left: 0;
  width: 100%;

  text-decoration: none;
}

.legalClass + .legalClass {
  border-top: 1px solid rgb(234, 234, 234);
}

.legalClass > * {
  flex: 0;
  flex-basis: auto;
}

.legalClass .className {
  flex: 1;
  margin-top: 10rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #4f5a65!important;
  margin-bottom: 1rem;
}

  .rArrowFrame {
  display: inline-block;
  width: 10px;
}

.legal img {
  width: 100%;
}

.legal .blankFrame {
  max-width: 250px;
}

.checkPrompt {
  display: table;
}

.checkPrompt > * {
  display: table-cell;
  vertical-align: middle;
}

.checkPrompt .checkFrame > img {
  cursor: pointer;
}

.checkPrompt .prompt {
  padding-left: 1rem;
  color: rgb(74, 120, 154)
}

.legal .checkFrame {
  display: inline-block;
  width: 20px;
}

.legal .contLogin {
  display: block;
  font-weight: 600;
  width: fit-content;

  background-color: rgb(170, 170, 170);
  border-color: transparent!important;

  margin-top: 2rem!important;
  margin-bottom: 2rem!important;

  text-decoration: none;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.appFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
}
/*-----End Legal-----*/

/*-----Start WalletType-----*/
.app {
  position: relative;
  height: 89%;
  overflow-y: auto;
  max-width: 1000px;
  margin: auto;

  background-color: rgb(243, 242, 248);
}

.padded {
  padding: 0 2rem;
}

.walletType a {
  text-decoration: none;
}

h2.appHeader {
  text-align: center;

  background-color: white;
  color: #161c2d;
  font-weight: 700!important;
  font-size: 1.3125rem;
  line-height: 1.4;
  letter-spacing: -.01em;
  margin-bottom: .5rem;
  margin-top: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 40;

  border-left: 1px solid rgb(243, 242, 248);
  border-right: 1px solid rgb(243, 242, 248);
}

.wallets {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  padding-right: 0;
  width: calc (100% - 2rem);

  border-radius: .475rem;
}

.multiCoinWallet {
  width: calc(100% - 1rem)!important;
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}

.CoinWallet {
  display: table;
  width: 100%;

  vertical-align: middle;
}
.CoinWallet > * {
  display: table-cell;
  vertical-align: middle;
}

.CoinWallet + .CoinWallet .walletName-rArrow {
  border-top: 1px solid rgb(234, 234, 234);
}


.coinLogoFrame {
  border-radius: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  width: 50px;
  border: 1px solid rgb(243, 242, 248);
  flex: 1;
}

.coinName {
  padding-left: 1rem;

  color: #4f5a65!important;
}


.walletName-rArrow {
  display: table;
  padding: 1rem 0;
  padding-right: 1rem;
  width: calc(100% - 1rem);
}

.walletName-rArrow > * {
  display: table-cell;
  vertical-align: middle;
}

/*-----End WalletType----*/

/*-----Start PassPhrase-----*/
.formSection {
  background-color: white;

  border-radius: .475rem;
  margin-top: 1rem;
  padding: .5rem 1rem;
}

.formSection label {
  display: block;
  margin-bottom: .5rem;

  color: rgb(226, 226, 226);
}

.pass input {
  border: none;
  user-select: none;
  
}

.pass input:focus-visible {
  outline: none;
}

.pass textarea {
  border: none;
}

.pass textarea:focus-visible {
  outline: none;
}

.pass .explain {
  padding-left: 1rem;
  color: rgb(116, 115, 121);
}

.buttons {
  position: absolute;
  bottom: 0;
  width: calc(100% - 4rem);

  text-align: center;
}

.buttons > * {
  display: block;
  margin: auto;
}

.buttons button {
  display: block;
  font-weight: 600;
  width: fit-content;

  background-color: #0b65c6;
  border-color: transparent!important;

  margin-top: 2rem!important;

  text-decoration: none;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.buttons button:hover {
  background-color: #0953a2;

}

.buttons a {
  display: block;
  margin-top: .25rem!important;
  color: #0b65c6;

  font-weight: 600;

  margin-left: auto!important;
  margin-right: auto!important;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;

  text-decoration: none;
}
/*-----End PassPhrase-----*/

/*-----Start Footer-----*/
.footer {
  margin: auto;
  height: fit-content;
}

.footer .appAdvertBack {
  background-color: #f9fbfd!important;
}

.footer .appAdvert {
  max-width: 1000px;

  display: table;

  width: 100%;
  margin: auto;

  padding-bottom: 3rem!important;
  padding-top: 3rem!important;
}
.footer .appAdvert > * {
  display: table-cell;

  vertical-align: middle;
}

.footer .advertText .topicSent{

  font-weight: 700!important;
  line-height: 1.4;
  letter-spacing: -.01em;
  font-size: 1.3125rem;
  margin-bottom: .5rem;
  font-weight: 400;
  margin-top: 0;
   
}

.footer .advertText .subOrdinateSent {
  color: #4f5a65!important;
  margin-bottom: 0!important;
  margin-top: 0;
  box-sizing: border-box;
}

.footer .advertImg + .advertImg {
  margin-left: 2.5rem;
}

.footer .appLinks {
  text-align: right;
}

.footer .information {
  display: table;

  width: 100%;
  max-width: 1000px;

  margin: auto;
}

.footer .information > * {
  display: table-cell;
}

.footer .information > * + * {
  padding-left: 1rem;
}


.footer .siteLogoFrame > img {
  width: 100%;
} 

.footer .siteId {
  width: fit-content;
}
.footer .siteLogoFrame {
  display: inline-block;
}
.footer .siteTitle {
  color: rgb(51, 117, 187);
}

.socials {
  margin-top: 1.5rem;
}

.footer .socialLogo {
  display: inline-block;
  max-width: 20px;
}
.footer .socialLogo > img {
  width: 100%;
}
.footer .socialLogo + * {
  margin-left: 1rem;
}

.footerLists {
  display: table;
}
.footerLists > * {
  display: table-cell;
}

.footerLists > * + * {
  padding-left: 3rem;
}

.footerList > * {
  display: block;
}

.footerList h4 {
  margin: 0;
  margin-bottom: 0.5rem;

  color: #4f5a65!important;
  letter-spacing: .08em;
  font-weight: 700!important;
  text-transform: uppercase!important;
}

.footerList a {
  margin-bottom: 1.5em;
  
  color: #4f5a65!important;
  text-decoration: none;
}

.footerList a:hover {
  text-decoration: underline;
}

/*-----End Footer-----*/

@media screen and (max-width: 910px) {
  /*-----Start Navigation-----*/
  h2 {
    font-size: 2.25rem;
  }

  div.nav {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .siteLogoFrame > img {
    width: 100%;
  }

  .menusSign {
    position: relative;
    display: inline-block;
    width: 36px;
    min-width: 36px;

    visibility: visible;
    text-align: right;

    color: white;
    font-size: 2rem;
  }

  .menusSign > img {
    width: 100%;
  }
 
  .menus {
    visibility: hidden;
    position: absolute;
  }

  .mobileMenus {


    margin: auto;
    margin-bottom: 2rem;

    width: calc(100% - 4em);



    border-radius: 6px;
    background-color: white;


    color: black;
    text-align: left;
  }
  .menus a {
    display: block;
    color: #4f5a65;
    font-weight: 600;
  }

  .menus a:hover {
    display: block;


  }

  .menus > a:hover {
    color: #4f5a65!important;
    
}

  .menus a + a {
    border-top: 1px solid #f1f4f8;
  }
  /*-----End Navigation-----*/

  /*-----Start AppPreview-----*/

  /*-----End AppPreview-----*/
  
  /*-----Start Home-----*/
  .homeBody {
    padding: 1.25rem 20px;
    padding-top: 0;
    width: calc(100% - 4em);

    margin: auto;
  }

  .blackBackPreview {
    display: block;
    text-align: center;

    padding-top: 4rem;
  }
  .blackBackPreview > * {
    display: block;
  }
  
  .blackBackPreview .previewText h2  {
    text-align: left;
    width: 90%;
    font-size: 2.25rem;

    margin: auto;
    margin-bottom: 1rem;
  }

  .blackBackPreview .previewBody {
    position: static;
    left: 0;
    bottom: 0;
    width: 90%;

    margin: auto;

    text-align: left;
    color: rgba(255,255,255,.75)!important;
    font-size: 1.1875rem;
  }

  .blackBackPreview .previewPic {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    margin-right: 0;
  }

  .blackBackPreview .previewPic > img {
    position: relative;
    left:0;
    bottom: 0;
  }

  .blackBackPreview .previewBtns {
    position: relative;
    width: 100%;
  }
  .blackBackPreview .previewBtn {
    display: block;
    position: relative;
  }

  .featuresList .lists {
    display: block;
  }

  .featuresList .lists > * {
    display: block;
  }

  .featuresList .list1 {
    margin-bottom: 0;
  }
  .featuresList .list2 {
    margin-top: 0;
    padding-left: 0;
  }

  .featuresList h2.listTitle {
    font-size: 2rem;
  }

  /*-----End Home-----*/

  /*-----Start Assets-----*/
  .whiteDownloadNow {
    width: fit-content;
  }
  /*-----End Assets-----*/
  
  /*-----Start Staking-----*/
  .staking {
    padding: 0 1.5rem;
  }
  /*-----End Staking-----*/

  /*-----Start StakingCalculator-----*/
  .stakingCalc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /*-----End StakingCalculator-----*/

  /*-----Start Earn-----*/
  
  .earn > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .earnHead {
    width: calc(100% - 4em);
    max-width: 1000px;
    padding-bottom: 1rem;
    margin: auto;

    flex-direction: column;
    text-align: center;  
  }
  
  .earnHead .stakingCalc {
    margin-left: 0;
    margin: auto;
  }


  .left h1 {
    font-size: 2.25rem;
  }

  .left p {
    font-size: 1.1875rem;
  }
  /*-----End Earn-----*/
  
  /*-----Start NFTs-----*/

  .nfts > * + * {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nfts .blackBackPreview > * {
    margin: auto;
    width: 100%;
  }

  .nfts .blackBackPreview .previewText {
    width: 100%;
    padding-left: 2rem;
  }

  .nfts .blackBackPreview .previewText > * {
    margin-left: 0;
  }

  .nfts .blackBackPreview .previewText a {
    width: fit-content;
  }
  .nfts .blackBackPreview .previewText .whiteDownloadNow {
    margin-left: 0!important;
  }

  .nfts .blackBackPreview .previewPic {
    width: 100%;
    max-width: 100%;
  }

  /*-----End NFTs-----*/

  /*-----Start DAppBrowser-----*/
  .dAppBrowser .previewText {
    display: block;
  }

  .marketPlace {
    max-width: 1000px;
    margin: auto;
  }

  .marketPlace .marketPlacePics {
    flex-wrap: wrap;
  }

  /*-----End DAppBrowser----*/

  /*-----Start Footer-----*/
  .appAdvertBack {
    max-width: 1000px;
  }

  .footer .appAdvert {
    display: block;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;

    text-align: center;
  }
  .footer .appAdvert > * {
    display: block;
  }

  .footer .advertImg {
    display: block;
  }

  .footer .advertImg + .advertImg {
    margin-left: 0;
  }
  
  .footer .appLinks {
    text-align: center;
  }

  .footer .information {
    display: block
  }

  .footer .information > * {
    display: block;
    text-align: center;
  }

  .footer .information .siteId {
    margin: auto;
  }

  .footer .information .socials {
    margin-bottom: 2rem!important;
  }

  .footerLists {
    display: block;
  }
  .footerLists > * {
    display: block;
  }

  .footerLists > * + * {
    padding-left: 0;
  }

  /*-----Start Footer-----*/
}



@media screen and (max-width: 790px) {
  :root {
    font-size: 12px;
  }
  /*-----Start AppPreview-----*/
  .appPreview {
    display: block;
    text-align: center;

    padding-top: 4rem;
  }
  .appPreview > * {
    display: block;
  }
  .previewText {
    width: 52;
    text-align: center;
  }
  
  .appPreview .previewText h2  {
    text-align: center;
    width: 90%;
    font-size: 2.25rem;

    margin: auto;
    margin-bottom: 1rem;
  }

  .previewText .previewList  li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .whiteBack .appPreview .previewBody {
    position: static;
    left: 0;
    bottom: 0;
    width: 80%;

    margin: auto;

    text-align: center;
    color: #4f5a65!important;;
    font-size: 1.1875rem;
  }

  .appPreview .previewPic {
    display: block;
    width: 90%;
    max-width: 100%;

    margin: auto;
    margin-top: 2rem;
    margin-right: 0;
  }

  .appPreview .previewPic > img {
    position: relative;
    left:-2rem;
    bottom: 0;
  }

  .nfts .appPreview .previewPic > img {
    left: 0;
  }

  .appPreview .previewBtn {
    margin: auto;
  }
  /*-----End AppPreview-----*/
  
  /*-----Start Steps-----*/
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    text-align: center;

  }
  .stepsList > * {
    display: block;
  }

  .steps {
    text-align: center;
  }

  .steps .step {
    text-align: center;
  }

  .steps ul {
    display: block;
    padding-right: 0;
  }

  .steps ul > li {
    display: block;
  }

  .steps .step + .step {
    margin-left: 0;
  }

  .steps .step > span {
    display: inline-block;
    margin: auto;
  }

  /*-----End Steps-----*/

  /*-----Start Home----*/
  .featuresList h2.listTitle  {
    padding-top: 3rem!important;
  }
  
  .previewDisplay {
    visibility: hidden;
    position: absolute;
  }

  .mobilePreviewDisplay {
    visibility: visible;
    position: static;
  }
  
  .homeBody .activities {
    display: block;
    text-align: center;
  }

  .homeBody .activities > * {
    display: block;
    text-align: center;
  }

  .activity3 {
    text-align: center;
  }
  /*----End Home-----*/

  /*-----Start Assets-----*/
  .assetsBody {
    padding: 1.25rem 20px;
    padding-top: 0;
    width: calc(100% - 4em);

    margin: auto;
  }

  .assets .saIntro {
    display: block;
    text-align: center;
  }

  .assets .saIntro > * {
    display: block;
  }

  .saLinks {
    padding-top: 2rem;
    text-align: center;
  }

  .saLinks > * {
    display: block;
  }

  .saLink + .saLink {
    margin-left: 0;
    margin-top: 1rem;
  }

  /*-----End Assets-----*/

  /*-----Start CoinsList-----*/
  .coinsList {
    flex-direction: column;
  }

  .coinsList > .coin {
      text-align: left;
  }


  /*-----End CoindsList-----*/

  /*-----Start DAppBrowser-----*/
  .marketPlace {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .marketPlace .marketPlacePics {
    flex-direction: column;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  .marketPlace .marketPlacePics > * {
    flex-basis: 100%;
    max-width: 100%;
  }

  .marketPlace .marketPlacePics > * + * {
    margin-left: 0;
  }
  /*-----End DAppBrowser-----*/

  /*-----Start SlidingContents-----*/
  .slidingContents {
    padding-top: 3rem;
  }

  .slidingContent .contentTitle {
  font-size: 1.3125rem;
  }
  /*-----End SlidingContents-----*/


  /*-----Start Login-----*/
  .login {    
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .login .createWallet {
    width: 90%;
  }
  /*-----End Login-----*/

  /*----Start Legal----*/
  .legal {
    padding: 0 2rem;
  }

  .checkPrompt {
    margin-top: 80%;
  }

  .legal .contLogin {
    width: 90%;
  }
  /*----End Legal----*/

  /*-----Start WalletType-----*/
  .coinLogoFrame {
    width: 40px;
  }
  /*-----End WalletType-----*/
  
  /*-----Start PassPhrase-----*/
  .buttons button {
    width: 100%;
  }
  /*-----End Passphrase-----*/
}

@media screen and (max-width: 440px) {
  /*-----Start StakingCalculator-----*/
  .logo-name {
    width: fit-content;
    min-width: fit-content;
  }

  .selected .percentChange {
    width: fit-content;
    min-width: fit-content;
  }
  /*-----End StakingCalculator-----*/
}